body{
	width: 680px;
	margin: 0 auto;

}

h1{

top: 308px;
left: 337px;
width: 692px;
height: 58px;
}


   ul {list-style-type: none;
}
  


.ul li:nth-child(1){
	position: fixed;
	top:0;
	right: 170px;
	color: #BADC58;
}
.ul li:nth-child(2){
	position: fixed;
	top: 0;
	right: 80px;
	
}


p{
	background-color: white;
	width: 301px;
	height: 42px;
	
}
.div a{
	padding: 1px 22px;
	border-radius: 10px;
	margin-left: 60px;

	
   background-color: #BADC58;
	top: 470px;
    left: 601px;
   width: 70px;
   height: 16px;
   margin-right: 20px;
   border: 1px solid #BADC58;
}
