
* {

	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

body {

	max-width: 1084px;
	margin: 0 auto;
}
nav {
	height: 60px;
	display: flex;
	justify-content: space-between;
}
.ul {
	width: 214px;
	display: flex;
	justify-content: space-between;
}

.ul li {
	color: black;
}
.ul li :hover {
	color:#BADC58;
}
.main_image {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	z-index: -2;
	height: calc(100vh - 60px);

}

.main_section{
	display: flex;
	justify-content: center;
	height: calc(100vh - 60px)
}
.main_section::before {
	content: '';
	display: block;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #181818;
	opacity: 0.6;
	z-index: -1;
}
.div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.div h1, p {
	color: #FFF;
}
.menu_ul{
	display: flex;
	flex-wrap: wrap;
}
.menu_ul li{
	width: 308px;
	display: flex;	
	flex-direction: column;
	align-items: center;
	text-align: center;
}
footer {
	position: relative;
}
footer::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #292C2F;
	z-index: -1;
	width: 100vw;
	height: 100%;

}

.fb {
	width: 10px;
}
#instagram {
	width: 20px;
}
.youtube {
	width: 20px;
}
.logos {
	display: flex;
	justify-content: space-between;
}
.social {
	width: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


@media only screen and (max-width: 320px) {

.ul{
	display: none;
}
.main_image {
	width: 320px;
}
iframe{
	width: 320px;
}

}